.c7n-403-page {
  padding-top: 191px;
  width: 704px;
  margin: 0 auto;
  text-align: right;
  height: 100%;

  &-banner {
    width: 100%;
    height: calc(100% - 110px);
    margin-bottom: 31px;
    background-image: url('./403.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}
