.c7n-404-page {
  padding-top: 110px;
  width: 612px;
  margin: 0 auto;
  text-align: right;
  height: 100%;

  &-banner {
    width: 100%;
    height: calc(100% - 110px);
    margin-bottom: 31px;
    background-image: url('./404.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}
