.user-preference {
  display: flex;
  align-items: center;

  &-popover {
    z-index: 1500 !important;
    position: absolute !important;
    width: 214px;
    top: 40px !important;
    right: 25px;
    left: auto !important;

    &-content {
      text-align: center;

      .user-preference-avatar {
        width: 72px;
        height: 72px;
        line-height: 72px;
        font-size: 40px;
      }

      .popover-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.87);
        margin: 6px 0 4px;
      }

      .popover-text {
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.65);
      }

      .popover-msg-wrapper {
        margin: 0 -16px;
        border-top: 1px solid rgba(0, 0, 0, 0.16);
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        padding: 12px 24px;
        margin-top: 12px;
        text-align: left;

        .popover-text {
          font-size: 13px;
          line-height: 32px;
          color: #000;
          cursor: pointer;
        }
      }

      .popover-button-wrapper {
        margin-top: 20px;

        button {
          width: 80px;
          height: 32px;

          & + button {
            margin-left: 14px;
          }
        }
      }
    }
  }

  &-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    background-color: #c5cbe8;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #3f51b5;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }

  &-name {
    margin-left: 8px;
    font-size: 13px;
    line-height: 18px;
  }
}

