.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 100;

  .page-header {
    height: 47px;
  }

  .c7n-bar-title {
    margin: 0 !important;
  }

  .page-body {
    flex: 1 1 0;
    display: flex;

    .content-wrapper {
      display: flex;
      flex: 1 1 0;
      background-color: white;
      position: relative;
    }

    .content {
      flex: 1 1 0;
      order: 2;
      flex-direction: column;
      background-color: white;
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      //height: calc(100% - 48px);
    }

    .content-large {
      left: 280px;
      width: calc(100% - 280px);
    }

    .content-small {
      left: 231px;
      width: calc(100% - 231px);
    }

    .c7n-under-content {
      max-height: calc(100% - 58px);
      overflow: auto;
    }
  }
}
