@import "../../style/theme/default";

$c7n-boot-header-menu-type: #{$c7n-prefix}-boot-header-menu-type;

.#{$c7n-boot-header-menu-type} {
  &-button {
    margin: 0 20px 0 15px;
    padding: 0 2px 0 8px;
    > span {
      font-weight: 400;
    }
    > .icon {
      margin: 0;
    }
  }
  &-tab-body,
  &-table-wrapper {
    height: 390px;
    overflow: auto;
  }
  &-table-wrapper {
    margin-top: 24px;
  }
  &-modal {
    .c7n-table {
      .c7n-table-row-level-0 {
        a {
          max-width: 250px;
        }
      }
      .c7n-table-row-level-1 {
        a {
          max-width: 230px;
        }
      }
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // max-width: 250px;
        display: inline-block;
        color: #000;
        &:hover {
          text-decoration: underline;
          color: $primary-color;
          cursor: pointer;
        }
        .icon {
          vertical-align: text-bottom;
          transition: initial;
          margin-right: 6px;
        }
      }
      &-selection-column {
        display: none;
      }
      &-row {
        .c7n-table-row-expand-icon + .c7n-table-row-expand-icon {
          display: none;
        }
      }
    }
    .c7n-tabs-tabpane .c7n-table {
      margin-top: 0;
      height: 330px;
    }
  }
  &-empty {
    text-align: center;
    padding-top: 137px;
  }
  &-disabled {
    color: rgba(0, 0, 0, 0.36);
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-toolbar {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
    &.has-search .#{$c7n-boot-header-menu-type}-organization-select + * {
      width: 396px;
    }
  }
  &-organization-select {
    width: 200px;
    & + * {
      margin-top: 20px;
      width: 442px;
    }
  }
}
