<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      window.updateFavicon = function(faviconUrl) {
        var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
        link.type = 'image/x-icon';
        link.rel = 'shortcut icon';
        link.href = faviconUrl;
        document.getElementsByTagName('head')[0].appendChild(link);
      }
    </script>
    <script><%= htmlWebpackPlugin.options.env %></script>
  </head>
  <body>
    <style>
      #c7ncd-global-loading {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <div id="c7ncd-global-loading">
      <img  alt="" class="c7ncd-global-loading-img" importance="high">
    </div>
    <script>
      const imgLoading = document.getElementsByClassName('c7ncd-global-loading-img')
      imgLoading.style.width = '100px'
      imgLoading.style.height = '100px'
      imgLoading.src = './loading.gif'
    </script>
    <div id='app'>
    </div>
  </body>
</html>
