@import "../../style/theme/default";
@import "../../style/mixin/link";

$c7n-boot-favorites: #{$c7n-prefix}-boot-favorites;

.#{$c7n-boot-favorites} {
  &-color {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    &-box {
      width: 20px;
      height: 20px;
      border: #dcdcdc 2px solid;
      margin-left: 10px;
    }
  }
  &-form {
    margin-top: 20px;
  }
  &-radio {
    margin-bottom: 30px;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
  &-popover {
    &-wrapper {
      display: block;
      width: 304px;
      height: 376px;
      transition: height .2s ease-in-out;
      transition-property: height;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
    }
    &-title {
      display: inline-block;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.87);
      line-height: 24px;
      font-weight: 500;
    }
    &-content {
      display: flex;
      margin: 0 20px;
      flex-wrap: wrap;
    }
    &-item {
      transition: 0.25s;

      width: 88px;
      height: 88px;
      border-radius: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:hover {
        background: rgba(33, 32, 36, 0.06);
        color: #000;
        .#{$c7n-boot-favorites}-popover-item-icon {
          > i:nth-child(2) {
            display: inline-block;
            color: #6f6f6f;
            font-size: 12px;
            margin-top: -44px;
            margin-left: -8px;
          }
          > i:nth-child(3) {
            display: inline-block;
            color: #6f6f6f;
            font-size: 12px;
            margin-top: -44px;
            margin-left: 2px;
          }
        }
      }
      margin-bottom: 16px;
      &-icon {
        background: rgba(0, 0, 0, 0.06);
        border-radius: 24px;
        width: 48px;
        height: 48px;
        margin: auto;
        margin-bottom: 6px;
        margin-top: 7px;
        > i:nth-child(2) {
          display: none;
        }
        > i:nth-child(3) {
         display: none;
        }
      }
      &-text {
        color: #000;
        margin: 0 4px;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-align: center;
      }
    }
  }
}
