@mixin button-link-masker() {
  position: relative;

  a:before {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
  }
}
