@import "../../style/theme/default";
@import "../../style/mixin/link";

$c7n-boot-header-inbox: #{$c7n-prefix}-boot-header-inbox;

.#{$c7n-boot-header-inbox} {
  transform: scale(.8);
  button {
    transform: scale(1.25);
    .icon {
      transform: scale(0.8);
      color: #fff;
      font-size: 25px !important;
      border-radius: 50%;
    }
  }
  .ant-badge-count {
    box-shadow: initial;
    cursor: pointer;
    top: -4px;
    left: 35px;
  }

  &-popover {
    width: 320px;
    .ant-tabs-nav-scroll {
      padding-left: 16px;
    }
    .ant-tabs-bar {
      margin-bottom: 0;
    }
    .ant-popover-inner {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.20), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    &-header {
      padding: 0 0;
      line-height: 41px;
      // height: 41px;
      .ant-tabs-nav .ant-tabs-tab {
        font-weight: 500;
        height: 48.5px;
        color: rgba(0, 0, 0, 0.65);
        font-size: 15px;
        &-active {
          color: #3f51b5;
        }
      }
      .ant-tabs-bar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
      .ant-tabs-extra-content {
        margin-right: 16px;
        > .ant-btn-circle {
          color: rgba(0, 0, 0, 0.65);
          margin-top: 9px;
          > i {
            font-size: 20px;
          }
        }
      }
      .ant-card-meta-title {
        width: 190px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 2px !important;
        > a {
          font-size: 13px;
          color: #000;
          text-decoration: none;
          font-weight: 500;
        }
      }
      .ant-card-meta-description {
        width: 190px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #000;
        > p:nth-child(1) {
          overflow: hidden;
          width: 216px;
          display: inline-block;
          transform: scale(0.8333);
          color: #787c87;
        }
        > p:nth-child(2) {
          overflow: initial;
          margin-left: -26px;
          position: absolute;
          width: 60px;
          text-align: right;
          display: inline-block;
          transform: scale(0.8333);
          color: #787c87;
        }
      }
      .ant-card-meta-detail {
        padding: 12px 0;
      }
      span {
        color: rgba(0, 0, 0, 0.54);
        font-size: 16px;
      }

      > a {
        float: right;
        color: $primary-color;
      }
    }
    &-card {
      width: 320px;
      height: 60px;
      // margin: 8px 16px;
      background: #fff;
      &:hover {
        .ant-card-body {
          > .icon {
            display: inline;
          }
        }
        background-color: rgba(241, 243, 244, 0.60);
      }
      .ant-card-body {
        > .icon {
          display: none;
          color: rgba(0, 0, 0, 0.36);
        }
        padding: 5px 16px;
      }
      .ant-card-meta-avatar {
        padding-right: 11px;
      }
      .ant-avatar {
        margin: 7px auto;
      }
    }
    &-content {
      overflow: auto;
      overflow-x: hidden;
      height: 308.5px;
      ul {
        padding: 0;
        list-style: none;
        margin-top: 2px;
      }
      li {
        position: relative;
        font-size: 13px;
        line-height: 20px;
        padding: 9px 20px;
        > label {
          > a {
            vertical-align: middle;
            color: inherit;
          }
        }

        @include button-link-masker();
        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
      label {
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
      }
      p {
        font-size: 12px;
        margin: 0;
        width: 262px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scale(0.9);
        transform-origin: 0;
      }
      .icon {
        color: #a3a3a3;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        left: 269px;
        top: 20px;
        z-index: 2;
      }
    }
    &-footer {
      line-height: 48px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: $primary-color;
      > button {
        width: 120px;
        margin-bottom: 16px;
      }

      @include button-link-masker();
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }
  &-empty {
    margin-top: 71.5px;
    margin-bottom: 42px;
    padding-top: 124px;
    text-align: center;
    font-size: 14px;
    color: rgba(140, 140, 140, 0.54);
    line-height: 48px;
    background-image: url("./icons/inbox_empty.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
}
