@import "../../style/theme/default";
@import "../../style/mixin/link";

$c7n-boot-header-inbox: #{$c7n-prefix}-boot-header-inbox;

.#{$c7n-boot-header-inbox} {
  transform: scale(.8);
  button {
    transform: scale(1.25);
    .icon {
      color: #fff;
      font-size: 23px;
      border-radius: 50%;
    }
  }
  .ant-badge-count {
    box-shadow: initial;
    cursor: pointer;
    top: -5px;
  }

  &-popover {
    width: 300px;
    .is-empty {
      background-color: rgba(0, 0, 0, 0.03);
    }
    &-header {
      padding: 0 16px;
      line-height: 50px;
      height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      span {
        color: rgba(0, 0, 0, 0.54);
        font-size: 16px;
      }

      > a {
        float: right;
        color: $primary-color;
      }
    }
    &-content {
      overflow: auto;
      height: 228px;
      ul {
        padding: 0;
        list-style: none;
      }
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        position: relative;
        font-size: 13px;
        line-height: 20px;
        padding: 9px 20px;
        > label {
          > a {
            vertical-align: middle;
            color: inherit;
          }
        }

        @include button-link-masker();
        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
      label {
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
      }
      p {
        font-size: 12px;
        margin: 0;
        width: 262px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scale(0.9);
        transform-origin: 0;
      }
      .icon {
        color: #a3a3a3;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        left: 269px;
        top: 20px;
        z-index: 2;
      }
    }
    &-footer {
      background-color: #fff;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      line-height: 48px;
      text-align: center;
      font-size: 13px;
      color: $primary-color;

      @include button-link-masker();
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }
  &-empty {
    margin-top: 28px;
    margin-bottom: 28px;
    padding-top: 124px;
    text-align: center;
    font-size: 14px;
    color: rgba(140, 140, 140, 0.54);
    line-height: 48px;
    background-image: url("./icons/inbox_empty.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
}
