.header-logo {
  color: white;
  flex-grow: 1;
  height: 100%;
  background-image: url('./icons/choerodon_logo_letter.svg');
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position: 0 center;
  transition: background-position .3s;

  &-wrap {
    background-color: #303f9f;
    width: 250px;
    height: 47px;
    line-height: 47px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }

  &-icon {
    color: white;
    font-size: 30px;
    width: 50px;
    height: 100%;
    background-image: url('./icons/choerodon_logo_picture.svg');
    background-repeat: no-repeat;
    background-size: auto 20px;
    background-position: center;
  }

  &-menu-icon {
    color: #fff;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    margin: 0 9px;
    .icon {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

a.header-logo {
  cursor: pointer;
}
