.select-and-search {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
  .ant-select {
    width: 200px;
  }
  .ant-input-wrapper {
    margin-top: 20px;
    width: 442px;
  }
}

.has-search .ant-input-wrapper {
  width: 396px;
}

.menu-type {
  &-btn.ant-btn > .icon + span, &-btn.ant-btn > span + .icon {
    margin-left: 4px;
  }

  &-btn.ant-btn > .icon {
    margin: 0;
  }

  &-btn {
    margin: 0 20px 0 15px;
    padding: 0 2px 0 8px;
    > span {
      font-weight: 400;
    }
  }
  &-modal {
    .ant-modal-title {
      font-size: 20px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    .ant-tabs-tabpane,
    .table-wrapper {
      height: 400px;
      overflow: auto;
    }
    .table-wrapper {
      margin-top: 24px;
    }
    .ant-table {
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        display: inline-block;
        color: #000;
        &:hover {
          text-decoration: underline;
          color: #3f51b5;
          cursor: pointer;
        }
        .icon {
          vertical-align: text-bottom;
          transition: initial;
          margin-right: 6px;
        }
      }
      &-selection-column {
        display: none;
      }
    }
    .ant-tabs-tabpane .ant-table {
      margin-top: 0;
    }
  }
  &-empty {
    text-align: center;
    padding-top: 137px;
  }
  &-disabled {
    color: rgba(0, 0, 0, 0.36);
  }
}
