@import "../../style/theme/default";

$c7n-boot-header-user: #{$c7n-prefix}-boot-header-user;

.#{c7n-boot-header-user} {
  &-popover {
    z-index: 1500 !important;
    position: absolute !important;
    min-width: 260px;
    top: 40px !important;
    right: 25px;
    left: auto !important;
    .ant-popover-inner-content {
      padding: 0;
    }
    &-menu {
      border-bottom: 1px solid rgba(0, 0, 0, 0.20);
      margin-top: 2px;
      padding-bottom: 7px;
      &-item {
        text-align: left;
        padding: 0 !important;
        > i {
          margin-left: 20px;
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
    &-content {
      padding-top: 8px;
      text-align: center;

      .#{c7n-boot-header-user}-avatar {
        width: 40px;
        height: 40px;
        line-height: 80px;
        font-size: 40px;
        float: left;
        margin-left: 20px;
        margin-top: 12px;
      }
    }
    &-title {
      margin-left: 20px;
      margin-top: 12px;
      color: #000;
      height: 50px;
      span {
        float: left;
        margin-left: 15px;
        line-height: 20px;
      }
      span:nth-child(2) {
        display: inline-block;
        color: rgba(0, 0, 0, 0.54);
      }
    }
    &-logout {
      height: 50px;
      > li {
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        vertical-align: center;
        text-align: left;
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
        > i {
          margin-right: 10px;
          margin-left: 20px;
          vertical-align: sub;
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }

  &-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    background-color: #c5cbe8;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
  }
}
