.c7n-iam-dashboard-announcement {
  ul {
    padding: 0 20px;
    list-style: none;
  }
  li {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 18px;
    a {
      vertical-align: middle;
      margin-left: 15px;
    }
  }
}
