.userPro-popver {
  z-index: 1500 !important;
  position: absolute !important;
  width: 214px;
  left: calc(100% - 239px) !important;
  top: 40px !important;
}

.userPro-popver-content {
  padding-bottom: 1.4rem;
  text-align: center;

  .popover-title {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #000;
  }

  .popover-text {
    font-size: 13px;
    color: #000;
    line-height: 20px;
  }

  .popover-button-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
}

.userPro-avatar {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  margin: 12px auto;
  background-color: #c5cbe8;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #3f51b5;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.userPro-popver-content .userPro-avatar {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
}
