.userPro-popver {
  z-index: 1500 !important;
  position: absolute !important;
  width: 214px;
  left: calc(100% - 239px) !important;
  top: 40px !important;
}

.userPro-img {
  width: 30px;
  border-radius: 50%;
  display: block;
  height: 30px;
  cursor: pointer;
}

.userPro-wrapper {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background-color: #c5cbe8;
  color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.userPro-popver-content {
  padding-bottom: 1.4rem;

  .popover-img {
    width: 80px;
    border-radius: 50%;
    margin-top: 15px;
    height: 80px;
  }

  .popover-col {
    text-align: center;
  }

  .popover-noImage-content {
    width: 80px;
    border-radius: 50%;
    margin-top: 15px;
    height: 80px;
    background-color: #c5cbe8;
    color: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .popover-title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
  }

  .popover-text {
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
  }

  .popover-button-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    .bth-center {
      margin-top: 12px;
      font-size: 12px;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%) rgb(255, 255, 255);
      border: 1px solid rgb(211, 211, 211);
      padding: 5px 12px;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
    }

    .btn-signOut {
      width: 74px;
      margin-top: 12px;
      font-size: 12px;
      background: rgb(63, 81, 181);
      padding: 6px 13px;
      color: white;
      text-decoration: none;

    }
  }
}
