$link-color: #333;

.choerodon-home {
  background-color: #f5f5f5;
  &-header {
    color: #fafafa;
    background-color: #5063cf;
    background-image: url('./home-banner.jpg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    &-content {
      width: 1040px;
      height: 220px;
      padding-top: 40px;
      padding-right: 404px;
      margin: 0 auto;
      h1 {
        color: inherit;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 16px;
        font-weight: 400;
      }
      p {
        color: inherit;
        line-height: 28px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  &-content {
    width: 1040px;
    margin: 0 auto;
    padding: 45px 0;
  }

  &-footer {
    border-top: 1px solid #d3d3d3;
    padding: 29px 0;
  }
}

.link-list {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  justify-content: flex-end;
  ul {
    width: 265px;
  }
  li {
    text-align: right;
    list-style: none;
    line-height: 20px;
  }
  h3 {
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
  }
  a {
    color: rgba(0, 0, 0, 0.65);
  }
}

.access-list {
  &-group {
    padding: 15px 0;
    h3 {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
      a {
        text-decoration: none;
        color: $link-color;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 -10px -20px -10px;
    }
    li {
      background-color: #fff;
      box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      width: 245px;
      height: 206px;
      list-style: none;
      margin: 0 10px 20px 10px;
      h4 {
        font-size: 15px;
        color: #000;
        margin-bottom: 10px;
        a {
          color: $link-color;
          text-decoration: none;
        }
      }
      p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.65);
        text-align: left;
        line-height: 20px;
      }
    }
  }
  &-item {
    padding: 20px;
    height: 100%;
    a.resource-link {
      font-size: small;
      color: #3f51b5;
      .icon {
        font-size: small;
      }
    }
    .item-header {
      display: flex;
      justify-content: space-between;
    }
    ul {
      display: block;
      li {
        width: auto;
        height: auto;
        margin: 5px;
        padding: 5px;
        box-shadow: none;
        transition: all .3s ease-in-out;

        &:hover {
          background: rgba(0, 0, 0, 0.10);
        }
      }
    }
  }
  &-icon {
    height: 34px;
    margin-bottom: 10px;
    background-size: auto 100%;
    background-position: left;
    background-repeat: no-repeat;
    &.svg1 {
      background-image: url('./icons/1.svg');
    }
    &.svg2 {
      background-image: url('./icons/2.svg');
    }
    &.svg3 {
      background-image: url('./icons/3.svg');
    }
    &.svg4 {
      background-image: url('./icons/4.svg');
    }
    &.svg5 {
      background-image: url('./icons/5.svg');
    }
    &.svg6 {
      background-image: url('./icons/6.svg');
    }
    &.svg7 {
      background-image: url('./icons/7.svg');
    }
    &.svg8 {
      background-image: url('./icons/8.svg');
    }
    &.svg9 {
      background-image: url('./icons/9.svg');
    }
    &.svg10 {
      background-image: url('./icons/10.svg');
    }
    &.svg11 {
      background-image: url('./icons/11.svg');
    }
    &.svg12 {
      background-image: url('./icons/12.svg');
    }
    &.svg13 {
      background-image: url('./icons/13.svg');
    }
    &.svg14 {
      background-image: url('./icons/14.svg');
    }
  }
}

iframe {
  border: none;
}
