$c7n-boot-dashboard: c7n-boot-dashboard;

.#{$c7n-boot-dashboard} {
  .ant-spin-nested-loading {
    width: 100%;
    flex: 1 1 0;
  }
  .ant-spin-container {
    height: 100%;
  }

  &-header {
    display: block;
    padding: 0 21px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.65);

    &-button {
      font-size: 13px;
      float: right;
      margin-top: 13px;
      color: #3f51b5;
    }

    .page-head-title {
      color: inherit;
      > .icon {
        font-size: 22px;
        margin-right: 14px;
      }

      > * {
        vertical-align: middle;
      }
    }
  }

  .page-content {
    padding: 12px 20px;
    overflow-x: hidden;
    display: flex;

    .ant-row-flex {
      flex: 1 1 0;
      width: 100%;
    }
  }

  &-column {
    &-empty {
      border-top: 1px dashed transparent;
      height: 100%;
    }

    &-drag-over {
      border-top-width: 3px;
      border-top-style: solid;
    }
  }

  &-card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .20), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    transition: all .3s;

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.20), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    &-title {
      padding: 20px 16px;
      cursor: grab;
      user-select: none;

      h1 {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        line-height: 25px;

        > span {
          vertical-align: middle;
        }
      }

      .icon {
        font-size: 24px;
        margin-right: 12px;
      }
    }

    &-disabled {
      display: none;

      .#{$c7n-boot-dashboard}-card {
        background-color: rgba(0, 0, 0, .14);
      }
    }

    &-switch {
      float: right;
    }

    &-wrapper {
      padding-top: 12px;
      padding-bottom: 10px;
      border-style: dashed;
      border-color: transparent;
      border-width: 0;
      border-top-width: 1px;

      &:last-child {
        border-bottom-width: 1px;
      }
    }

    &-container {
      transition: height .3s;
    }

    &-hidden {
      display: none;
    }

    &-dragging {
      .#{$c7n-boot-dashboard}-card {
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.60);
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.20), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        transition: none;
        pointer-events: none;
      }

      .#{$c7n-boot-dashboard}-card-placeholder {
        background-color: rgba(0, 0, 0, .08);
      }

      + .#{$c7n-boot-dashboard}-card-wrapper {
        border-top-color: transparent !important;
      }
    }

    &-drop-top,
    &-drop-bottom + &-wrapper {
      border-top-style: solid;
      border-top-width: 3px;
      padding-top: 10px;
    }

    &-drop-bottom.#{$c7n-boot-dashboard}-card-wrapper:last-child {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      padding-bottom: 8px;
    }
  }

  &-editing .#{$c7n-boot-dashboard}-card-disabled {
    display: block;
  }

  &-dragging {
    user-select: none;
    cursor: grabbing;
    .#{$c7n-boot-dashboard}-card-wrapper:not(.#{$c7n-boot-dashboard}-card-dragging),
    .#{$c7n-boot-dashboard}-column-empty {
      border-color: #303f9f;
    }
    .#{$c7n-boot-dashboard}-toolbar {
      display: none;
    }
    .#{$c7n-boot-dashboard}-card-title {
      cursor: inherit;
    }
  }

  &-navbar {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 13px 16px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    > .icon:first-child {
      font-size: 24px;
      margin-right: 16px;
      + * {
        vertical-align: middle;
      }
    }

    a {
      color: #000;
      &:before {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
      }
    }
  }

  &-toolbar {
    float: right;
  }
}
